/* GLOBAL STUFF */
* {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
.header {
    width: 100%;
    height: 10%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.headerLogo {
    max-width: 10%;
    float: left;
}

.logo {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid black;
}

.login {
    margin-top: 32px;
    width: auto;
    margin-left: 88%;
}

/*CHOOSE GROUP HEADER*/
.chooseGroup {
    margin-left: 10%;
    margin-top: 5%;
    max-width: 30%;
    height: 0%;
}

#chooseGroupH1 {
    font-size: 50px;
}

/*CHOOSE CLASS GRID*/
.classGrid {
    height: 30%;
    width: 55.5%;
    position: relative;
    top: 150px;
    left: 430px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.classCard {
    height: 256px;
    width: 256px;
    border: 1px solid black;
    /*rgba(0, 0, 0, 0.1)*/
    border-radius: 4px;
    box-sizing: border-box;
    /*transition: transform .2s;*/
}

/* .classCard:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
} */

.classTitleH1 {
    font-family: sans-serif;
    height: 0px;
    margin-top: 10%;
    margin-left: 10%;
}

.viewClassesLink {
    margin-top: 25%;
    margin-left: 10%;
    height: 0px;
}

.classLinkP {   
    font-family: sans-serif;
    color: #07f;
    font-weight: bold;
}

#addClassIcon {
    cursor: pointer;
}

#addClass {
    display: none;
}

#groupNameP {
    position: relative;
    top: 40px;
    left: 20px;    
}

#groupNameTxt {
    position: relative;
    left: 130px;
    top: -223px;
    height: 20px;
    width: 100px;
}

#classNameP {
    position: relative;
    top: -210px;
    left: 20px;    
}

#classNameTxt {
    position: relative;
    left: 130px;
    top: -470px;
    height: 20px;
    width: 100px;
}

#totalTestsP {
    position: relative;
    top: -460px;
    left: 20px;  
}

#totalTestsTxt {
    position: relative;
    left: 130px;
    top: -726px;
    height: 20px;
    width: 100px;
}

#submitNewClass {
    position: relative;
    top: -650px;
    left: 60px;
    height: 30px;
    width: 80px;
}