* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.loginForm {
    width: 500px;
    height: 600px;
    border: 1px solid black;
    border-radius: 50px;
}

.formTitle {
    margin-top: 70px;
    text-align: center;
}

.formEmailSection {
    margin-left: 90px;
    margin-top: 50px;
    height: 60px;
    border-radius: 30px;
    padding-left: 30px;
}

.formPasswordSection {
    margin-left: 90px;
    margin-top: 50px;
    height: 60px;
    border-radius: 30px;
    padding-left: 30px;
}

.formLogin {
    margin-left: 90px;
    margin-top: 50px;
}

.forgotUPSection {
    margin-left: 0px;
    margin-top: 50px;
    text-align: center;
}

.createAccountSection {
    margin-left: 0px;
    margin-top: 30px;
    text-align: center;
}